*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body{
    height: 100vh;
    background-color: #2B807B;
    transition: background-color 0.5s ease;
    text-align: center;
}

.centrar-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column;
    height: 100vh;
    gap: 20px; */
}
#contenedor{
   height: 220px;
    width: 450px;
    background-color:white;
    border: 5px solid rgb(0, 0, 0);
    flex-wrap: wrap;
    flex-direction: column;
}

#color{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}

button{
    font-size: 20px;
    border-radius: 20px;
    background-color: #008CBA;
    color: white;
    margin: 15px ;
    padding: 10px 30px;
    border:  3px solid #008CBA;
    user-select: none;
    transition-duration: 0.5s ;
}

button:hover{
    background-color: #05455A;
 
}